* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #333;
}

/* Pretty form */
form {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

/* Form inputs */
input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
}

/* Rainbow button */
.btn {
    display: inline-block;
    background: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    background-size: 600% 600%;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid #000000;
    border-radius: 5px;
    transition: .5s;
}

.btn:hover {
    transform: scale(1.1);
}

textarea {
    min-width: 400px;
    width: 60%;
    max-width: 600px;
    height: 600px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    resize: none;

    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid #000000;
    border-radius: 10px;
}

textarea::-webkit-scrollbar {
    display: none;
}